@model MenuItem

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-4">
    <h1>Edit</h1>
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="MenuItemID" />
        <div class="form-group">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Price" class="form-label">Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
